<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GitCommit</key>
	<string>$(GIT_COMMIT)</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAudioCaptureUsageDescription</key>
	<string>SpectraWall 需要擷取音訊以顯示視覺化效果</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
